<div class="row">
  <div class="col-2"></div>
    <div class="col-8 col-sm-6">
      <% @articles.each do |article| %>
        <article>
          <div style="word-wrap: break-word; word-break: normal; height: 100%;">
            <div id="article-title-font-size" ><a href="#"><%= article.title %></a></div>
            <span class="text-muted"><%# article.pentime.strftime("%Y-%m-%d %A") %></span><br/>
            <a href="#" class="text-success"><%= article.tag %></a><br/>
            <%= article.id %>
            <spin><%= link_to "continue read", user_context_path(params[:user_id] ,article.id) %></spin>
          </div>
          <div style="margin-top: 9px">
            <% if current_user %>
              <% if session[:user_id] == @user.id %>
                <%= link_to "edit", edit_user_context_path(params[:user_id], article.id) %>
              <% end %>
            <% end %>
          </div>
        </article>
      <% end %>

    <div class="row" id="divpage">
      <div aria-label="Page navigation example" >
        <ul class="pagination">
          <% if @page > @first_page %>
            <li class="page-item">
              <%= link_to root_path(page: @page - 1), :class => "page-link", "aria-label" => "Previous" do %>
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              <% end %>
            </li>
          <% end %>
          <% (@first_page..@last_page).each do |page_number| %>
            <li class="page-item"><%= link_to page_number, root_path(page: page_number), :class => "page-link" %></li>
          <% end %>
          <% if @page < @last_page %>
            <li class="page-item">
              <%= link_to root_path(page: @page + 1), :class => "page-link", :"aria-label" => "Next" do %>
<!--                      <a class="page-link" href="#" aria-label="Next">-->
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
<!--                      </a>-->
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-2 col-sm-4">
    <div class="input-group mb-3" style="margin-top:10px;" id="searchbutton">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2" id="tags">
      <div class="input-group-append">
                  <%= link_to "送出", "#", :class => "btn btn-outline-secondary", :style => "background-color:white;", :id =>"button-addon2" %>
<!--                <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="background-color:white;" >submit</button>-->
      </div>
    </div>
  </div>
</div>

<script>
    //搜尋功能
    var search_title = [];
    var search_id = [];
    <% @searchs.each do |search| %>
        search_title.push( "<%= search[1] %>" );
        search_id.push( "<%= search[0] %>" );
    <% end %>
    $( "#tags" ).autocomplete({
      source: search_title
    });
    $("#button-addon2").click(function(){
        for(var i = 0; i < search_title.length; i++){
            if( $("#tags").val() == search_title[i]){
                $("a").attr("href", "/contexts/" + search_id[i])
            }
        }
    });
</script>
