<div class="row">
  <div class="col-xl-2 order-xl-1" >
  </div>
  <div class="col-xl-8 order-xl-1" >
    <% @articles.each do |article| %>
      <div class="card" >
        <%= image_tag(article.image_url ,:class => "card-img-top") if article.image_url.present? %>
        <div class="card-body">
          <h1 class="card-title display-2 text-black"><%= article.title %></h1>
          <p class="card-text" style="text-overflow: ellipsis">
            <%# truncate(article.context, length: 75)%>
            <%= (truncate(strip_tags(article.context), :length => 30, :omission => '...')).html_safe %>
            <%# raw article.context.truncate(75) %>
          </p>
          <%= link_to "繼 續 閱 讀 ...", user_context_path(params[:user_id] ,article.id), :class => "btn btn-primary" %>
          <% if current_user %>
            <% if session[:user_id] == @user.id %>
              <%= link_to "編 輯", edit_user_context_path(params[:user_id], article.id), :class => "btn btn-primary" %>
              <a href="#" class="btn btn-primary"> 刪除 </a>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render partial: 'layouts/layout/pagging' %>
  </div>
  <div class="col-xl-2 order-xl-2 mb-5 mb-xl-0" >
  </div>
</div>
