<div class="row">
  <div class="col-xl-2 order-xl-1" >
  </div>
  <div class="col-xl-8 order-xl-1" >
    <% @articles.each do |article| %>
      <div class="card" >
        <%= image_tag(article.image_url ,:class => "card-img-top") if article.image_url.present? %>
        <div class="card-body">
          <center>
            <h1 class="card-title display-2 text-black">
              <%= article.title %>
            </h1>
          </center>
          <p class="card-text" style="text-overflow: ellipsis">
            <%# truncate(article.context, length: 75)%>
            <%= (truncate(strip_tags(article.context), :length => 30, :omission => '...')).html_safe %>
            <%# raw article.context.truncate(75) %>
          </p>
          <%= link_to "繼 續 閱 讀 ...", user_context_path(params[:user_id] ,article.slug), :class => "btn btn-info btn-sm btn-block" %>
          <br>
          <% if current_user %>
            <script>
              <% if flash[:notice].present? %>
                swal ( "YA~" , "<%= flash[:notice] %>",  "success" )
              <% end %>
            </script>
            <% if session[:user_id] == @private_page_user.id %>
              <%= link_to "編 輯", edit_user_context_path(params[:user_id], article.slug), :class => "btn btn-success btn-sm" %>
              <%= link_to "刪 除", user_context_path(params[:user_id], article.slug), :method => "delete", :class => "btn btn-danger btn-sm", data: { confirm: "你確定要刪除?" } %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <br>
    <%= render partial: 'layouts/layout/pagging' %>
  </div>
  <div class="col-xl-2 order-xl-2 mb-5 mb-xl-0" >
  </div>
</div>
