<div class="row">
  <div class="col-xl-1 order-xl-1" >
  </div>
  <div class="col-xl-10 order-xl-1" >
    <div class="card" >
      <%= image_tag @article.image_url if @article.image_url.present? %>
      <%# image_tag "1.jpg", :class => "card-img-top"%>
      <div class="card-body">
        <center>
          <h1 class="display-1 text-black">
            <%= @article.title %>
          </h1>
        </center>
        <%= @article.tag %><br/>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          <%# h(@article.context).gsub("\n", "<br>").html_safe %>
          <%# simple_format(@article.context)%>
          <%= raw @article.context %>
        </p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-3">
        <% if @previous != nil %>
          <%= link_to "上一篇", user_context_path(params[:user_id], @previous.slug), :class => "btn btn-outline-info" %>
        <% end %>
      </div>
      <div class="col-6">
      </div>
      <div class="col-3" style="text-align:right;">
        <% if @next != nil %>
          <%= link_to "下一篇", user_context_path(params[:user_id], @next.slug), :class => "btn btn-outline-info" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xl-1 order-xl-2 mb-5 mb-xl-0" >
  </div>
</div>
