  <!-- Sidenav -->
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <% if @public_page_user.present? %>
        <%= link_to user_contexts_path(@public_page_user.username), :class => "navbar-brand pt-0" do %>
          <%= image_tag "qwq.png", :class => "navbar-brand-img"%>
        <% end %>
      <% else %>
        <%= link_to user_contexts_path(@private_page_user.username), :class => "navbar-brand pt-0" do %>
          <%= image_tag "qwq.png", :class => "navbar-brand-img"%>
        <% end %>
      <% end %>
      <!-- User -->
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-gem"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
            <%= link_to @userInformation.github, :class => "dropdown-item", :target => "_blank" do %>
              <i class="fab fa-github"></i>
              GitHub
            <% end %>
            <%= link_to @userInformation.facebook, :class => "dropdown-item", :target => "_blank" do %>
              <i class="fab fa-facebook-square"></i>
              Facebook
            <% end %>
            <%= link_to @userInformation.instagram, :class => "dropdown-item", :target => "_blank" do %>
              <i class="fab fa-instagram"></i>
              Instagram
            <% end %>
            <%= link_to @userInformation.twitter, :class => "dropdown-item", :target => "_blank" do %>
              <i class="fab fa-twitter"></i>
              Twitter
            <% end %>
            <%= mail_to @userInformation.email, :class => "dropdown-item" do %>
              <i class="far fa-envelope"></i>
              E-mail
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <% if @userInformation.image.present? %>
                  <%= image_tag @userInformation.image_url %>
                <% else %>
                  <%= image_tag "penguin.jpg" %>
                <% end %>
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">歡迎!</h6>
            </div>
            <% if @public_page_user.present? %>
              <%= link_to user_path(@public_page_user.username), :class => "dropdown-item" do %>
                <i class="far fa-gem"></i>
                <span>關於我...</span>
              <% end %>
              <%= link_to user_contexts_path(@public_page_user.username), :class => "dropdown-item" do %>
                <i class="far fa-gem"></i>
                <span>文章總覽</span>
              <% end %>
            <% end %>
            <% if current_user && @public_page_user %>
              <div class="dropdown-divider"></div>
            <% end %>
            <% if current_user %>
              <%= link_to user_path(@private_page_user.username), :class => "dropdown-item" do %>
                <i class="far fa-gem"></i>
                <span>關於我...</span>
              <% end %>
              <%= link_to user_contexts_path(@private_page_user.username), :class => "dropdown-item" do %>
                <i class="far fa-gem"></i>
                <span>文章總覽</span>
              <% end %>
              <%= link_to edit_user_path(@private_page_user.username), :class => "dropdown-item" do %>
                <i class="far fa-gem"></i>
                <span>編輯關於我</span>
              <% end %>
              <%= link_to new_user_context_path(@private_page_user.username), :class => "dropdown-item" do %>
                <i class="far fa-gem"></i>
                <span>新增文章</span>
              <% end %>
              <%= link_to sign_out_path, :class => "dropdown-item" do %>
                <i class="far fa-gem"></i>
                登出
              <% end %>
            <% end %>
          </div>
        </li>
      </ul>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="../index.html">
                <img src="">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <% if @public_page_user.present? %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to user_path(@public_page_user.username), :class => "nav-link" do %>
                <i class="far fa-gem"></i>
                關於我...
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to user_contexts_path(@public_page_user.username), :class => "nav-link" do %>
                <i class="far fa-gem"></i>
                文章總覽
              <% end %>
            </li>
          </ul>
        <% end %>
        <% if current_user && @public_page_user %>
          <hr class="my-3">
        <% end %>
        <% if current_user %>
          <ul class="navbar-nav mb-md-3">
            <li class="nav-item">
                <%= link_to user_path(@private_page_user.username), :class => "nav-link" do %> <!--用do的話，前面就不是放名稱，直接往前一個格網址-->
                <i class="far fa-gem"></i>
                關於我...
                <% end %>
            </li>
            <li class="nav-item">
                <%= link_to user_contexts_path(@private_page_user.username), :class => "nav-link" do %>
                <i class="far fa-gem"></i>
                文章總覽
                <% end %>
            </li>
            <li class="nav-item">
                <%= link_to edit_user_path(@private_page_user.username), :class => "nav-link" do %>
                <i class="far fa-gem"></i>
                編輯關於我
                <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_context_path(@private_page_user.username), :class => "nav-link" do %>
                <i class="far fa-gem"></i>
                 新增文章
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to sign_out_path, :class => "nav-link" do %>
                <i class="far fa-gem"></i>
                登出
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
