<!-- Top navbar -->
<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <%= link_to "回首頁", user_contexts_path(@common＿lock.username), :class => "h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" %>
    <!-- Form -->
    <%= form_tag(user_contexts_path(@common＿lock.username), :method => "get", :class => "navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto") do %>
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <%# text_field_tag :search_title, "", :class => "form-control" %>
          <input class="form-control" placeholder="Search" type="text" name="search_title">
        </div>
      </div>
    <% end %>
    <!-- <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text">
        </div>
      </div>
    </form> -->
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item dropdown">
        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <% if @userInformation.image.present? %>
                <%= image_tag @userInformation.image_url %>
              <% else %>
                <%= image_tag "penguin.jpg" %>
              <% end %>
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold"><%= @userInformation.name %></span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">歡迎!</h6>
          </div>
          <% if @public_page_user.present? %>
            <%= link_to user_path(@public_page_user.username), :class => "dropdown-item" do %>
              <i class="far fa-gem"></i>
              <span>關於我...</span>
            <% end %>
            <%= link_to user_contexts_path(@public_page_user.username), :class => "dropdown-item" do %>
              <i class="far fa-gem"></i>
              <span>文章總覽</span>
            <% end %>
          <% end %>
          <% if current_user && @public_page_user %>
            <div class="dropdown-divider"></div>
          <% end %>
          <% if current_user %>
            <%= link_to user_path(@private_page_user.username), :class => "dropdown-item" do %>
              <i class="far fa-gem"></i>
              <span>關於我...</span>
            <% end %>
            <%= link_to user_contexts_path(@private_page_user.username), :class => "dropdown-item" do %>
              <i class="far fa-gem"></i>
              <span>文章總覽</span>
            <% end %>
            <%= link_to edit_user_path(@private_page_user.username), :class => "dropdown-item" do %>
              <i class="far fa-gem"></i>
              <span>編輯關於我</span>
            <% end %>
            <%= link_to new_user_context_path(@private_page_user.username), :class => "dropdown-item" do %>
              <i class="far fa-gem"></i>
              <span>新增文章</span>
            <% end %>
            <%= link_to sign_out_path, :class => "dropdown-item" do %>
              <i class="far fa-gem"></i>
              登出
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
