<!DOCTYPE html>
<html>
  <head>
    <title>YkureyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="main_part" >
          <nav>
             <%= render partial: 'layouts/nav' %>
          </nav>
          <div class="container-fluid">
              <main>
                  <header>
                      <%= render partial: 'layouts/header' %>
                  </header>
                  <%= yield %>
                  <footer>
                    <%= render partial: 'layouts/footer' %>
                  </footer>
              </main>
          </div>
      </div>
      <div class="show_about">
          <%= render partial: 'layouts/card' %>
      </div>
  </body>
</html>
